@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@600&family=Manrope&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;  
}

:root {
    --primary-font: 'Fraunces', serif;
    --secondary-font: 'Manrope', sans-serif;
    --primary-color: #495c69;
    --secondary-color: #369667;
    /* --secondary-color: #44ffa1; */
    --tertiary-color: #584d62;
    --primary-background: #f8fffc;
    --secondary-background: #fff;
    --tertiary-background: #3e4f5a;

}

body {
    background-color: var(--primary-background);
    overflow-x: hidden;
}

h1 {
    font-family: var(--primary-font);
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 80px;
}

h2 {
    font-family: var(--primary-font);
    font-size: 3.4rem;
    font-weight: 600;
    line-height: 64px;
}

h3 {
    font-family: var(--primary-font);
    font-size: 2rem;
    font-weight: 600;
    line-height: 32px;
}

 p {
    font-family: var(--secondary-font);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 32px;
    color: var(--tertiary-color);
} 



.primary-button {
    background-color: var(--secondary-color);
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    font-family: var(--secondary-font);
    font-size: 1.1rem;
    font-weight: 700;
    padding: 0.75rem 1.5rem;
}

.primary-button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

.secondary-button {
    color: var(--primary-color);
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
    border: 0;
    padding-bottom: 5px;
    background-color: transparent;
    
}

.login-button {
    border-bottom: 2px solid var(--secondary-color);
}

.rounded-button {
    background-color: var(--secondary-color);
    border-radius: 9999px;
    padding: 0.75rem 1.5rem;
}

.secondary-button:hover {
    color: var(--secondary-color);
}

.nav {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.75rem;
}

.nav button {
    color: var(--primary-background);
}

.nav__logo {
    cursor: pointer;
}

.nav__cta button {
    padding: 0.3rem;
}


/*hero section*/
.hero .container{
    color: var(--primary-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* padding: 4rem 2rem; */
    padding: 4rem 2rem;
    gap: 2rem;
    position: relative;

}

.container {
    height: 100%;
    padding: 8rem 2rem;
    border-bottom-left-radius: 23%;
    border-bottom-right-radius: 23%;
    background: var(--primary-color);
    margin: 0 -50px;
}

.hero .deck {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3rem;
    height: 80%;
    width: 80%; 
    
}

.hero .container p {
    font-family: var(--secondary-font);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 32px;
    color: var(--primary-background)

}


/*rewards*/

.rewards .container {
    background-color: var(--primary-background);
    

}

.rewards__title {
    color: var(--secondary-color);
    padding: 1.5em 3em .2em 3em;
    text-align: center;

}

.rewards__page {
    padding: 8rem 4rem;
    text-align: justify;
    color: var(--tertiary-color);

}

.rewards__page p {
    padding: .6em;
}

.rewards__box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 4rem 2rem;
}

.rewards__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20rem;
    height: 20rem;
    flex-wrap: wrap;
    word-wrap: break-word;
    padding: 2rem;
    gap: .5rem;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    cursor: pointer;

}

.rewards__card-title {
    font-size: larger;
}
   



/*footer*/

footer {
    padding: 4rem 2rem;
    background-color: var(--secondary-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 4rem;
}

.footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}




@media screen and (max-width: 375px) {
    h1 {
        font-size: 2.75rem;
        line-height: 48px;
    }

    h2 {
        font-size: 2rem;
        line-height: 32px;
    }

    .deck {
        display: flex;
        flex-direction: column;
    }

    .nav {
        display: flex;
        flex-direction: column;
    }
    .nav__cta {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .nav__cta .secondary-button, .nav_cta .secondary-button:hover {
        width: 100%

    }

    .nav button {
        width: 50%;
    }

    .rewards .container {
        padding: 2rem 1rem;
    }

    .rewards__box {
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 768px) {
    .hero .container {
        /* background-image: url(assets/images/bg-pattern-1.svg), url(assets/images/bg-pattern-2.svg); */
        background-position: -10% 0, 100% 50%;
        background-repeat: no-repeat;
    }

    h1 {
        max-width: 550px;

    }

    .hero img {
        max-width: 514px;
        max-height: 296px;
    }

    .hero .container {
        padding: 8rem 4rem;
    }

    .rewards__box {
        flex-wrap: wrap;
        
    }

    .rewards__card {
        min-width: 13.5rem;
        max-width: fit-content;
        max-height: 15rem;
        padding: 1rem;
    }

    


  
}

@media screen and (min-width: 1440px) {
    .nav {
        padding: 2rem 4rem;
    }

    .hero .container {
        padding: 10rem 4rem;
    }

    .container {
        padding: 14rem 8rem;
    }

    .hero img {
        max-width: 767px;
        max-height: 441px;
    }

    .features .container {
        padding-bottom: 4rem;
    }


    .features__box {
        padding: 8rem 4rem;
        flex-direction: row;
        gap: 4rem;
    }

    .feature__card {
        flex-direction: column;
    }

    .feature__body {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    #cta img {
        width: 100%;
        max-width: 400px;
        height: 100%;
        max-height: 400px;
        top: -60%;
        left: -5%;
    }

    .cta__box {
        max-width: 800px;
        background-position: 90% 150%;
        padding: 4rem;
    }
}